.result-line {
  padding: 4px;
  border-radius: 4px;
  border-color: red;
}

.search-box {
  padding-left: 0;
  background-color: #302E32FF;
  border-radius: 6px;
}

.locator-entry image.left {
  margin-right: 8px;
}