[Desktop Entry]
Type=Application
Version=1.0
Name=DocoLoco
Comment=Development Documentaion Browser
Path=<path-to>/DocoLoco
Exec=python -m docoloco
Terminal=false