[Desktop Entry]
Type=Application
Version=1.0
Name=DocoLoco
Comment=Development Documentation Browser
Exec=
Terminal=false
Icon=io.github.mepowerleo10.DocoLoco